<!DOCTYPE html>
<html lang="html">
<head> 
    <meta charset="utf-8">
    <title>Adam Edelstein</title>  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" type="text/css" href="style/style_project_page1.css">
    <link rel="stylesheet" type="text/css" href="style/component.css">
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome/css/font-awesome.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="scripts/modernizr.custom.js"></script>
    
    
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900' rel='stylesheet' type='text/css'>    
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,900' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>

<body>
<div class="container">
    
        <!-- Header contains small logo and Main Nav -->
        <div class="header">
            <ul id="navbar">
                <li><a href="#">Contact</a></li>
                <li><a href="#">Portfolio</a></li>
                <li><a href="#">About</a></li>
                <li><a href="index.html">Home</a></li>
            </ul>
        <!-- End of Header Div -->
        </div>
            
    
        <!-- Header - Start Main Section -->
    <div class="main">
            
        <div class="title">
            <h1>Title for Temporary Project</h1>
            <h2>I really like this website</h2>
        </div>    
                
        <div class="intro">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin id urna sit amet dolor dignissim aliquam. Mauris nec urna dictum, fringilla elit sit amet, tempus erat. Etiam leo ligula, mattis non lacus vitae, consequat ultrices arcu. Vestibulum nec varius erat, ut consequat arcu. In hac habitasse platea dictumst. Nunc dictum massa sed accumsan varius. Integer sem urna, dictum a lobortis ut, gravida lacinia mi. Vivamus finibus metus et ex blandit, at tincidunt enim congue. Integer commodo orci vitae viverra sodales. Aenean consequat fermentum quam, consectetur sollicitudin neque. Etiam varius dolor sit amet suscipit porttitor. Nulla facilisi. Suspendisse ornare eleifend odio egestas consequat. Sed sit amet urna ut nisi luctus congue.
        </div>
        
        <div class="second_p">
            
	       <img src="img/tigercap1.png">
                
            
            <div class="text2">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin id urna sit amet dolor dignissim aliquam. Mauris nec urna dictum, fringilla elit sit amet, tempus erat. Etiam leo ligula, mattis non lacus vitae, consequat ultrices arcu. Vestibulum nec varius erat, ut consequat arcu. In hac habitasse platea dictumst. Nunc dictum massa sed accumsan varius. Integer sem urna, dictum a lobortis ut, gravida lacinia mi. Vivamus finibus metus et ex blandit, at tincidunt enim congue. Integer commodo orci vitae viverra sodales. Aenean consequat fermentum quam, consectetur sollicitudin neque. Etiam varius dolor sit amet suscipit porttitor. Nulla facilisi. Suspendisse ornare eleifend odio egestas consequat. Sed sit amet urna ut nisi luctus congue.vida lacinia mi.
            </div>
        </div>
        
        <hr style="margin-top: 12%; margin-bottom;">
        
        <div class="third_p">
            <div class="section_title">
                <h2>Some Pics of the Project</h2>
            </div> 
            
            <img src="img/tiger/slide1_mockup.png">
            <div class="third_p_caption">
                <h4>Intro Slide Mockup</h4>                
            </div>
            
            <div class="text3">
                We spent a lot of time going through many different pictures of the WWF database.  We ended up choosing this one because we thought the expression of the tiger expressed lots of emotion.
            </div>
        </div>
        
        <hr style="margin-top: 17%; width: 40%">

                <div class="fourth_p">
                    <img src="img/tiger/slide4_mockup.png">
                        <div class="fourth_p_caption">
                            <h4>Interactive Floor-Plan Mockup</h4>                
                        </div>
            
                    <div class="text4">
                        Our group was dead set on including some interactive elements in the site.  The first one we decided on was an interactice floor plan which would allow users to see where FSC related products could be found in their home, office, or school.
                    </div>
                </div>
        
        <hr style="margin-top: 25%; width: 40%;">

                <div class="fifth_p">
                    <img src="img/tiger/slide5_mockup.png">
                        <div class="fifth_p_caption">
                            <h4>Interactive Floor-Plan Mockup</h4>                
                        </div>
            
                    <div class="text5">
                        The second interactive element for this project included an interactive map of the US which we hoped would express how much actual area a tiger needs inorder to live, hunt, and mate.  For this elements we used a really awesome online tool for visualizations called datawrapper.  It was really useful, and added a nice touch to the site.  
                    </div>
                </div>
        
                <div class="logos">
                    <img id="tiger_face" src="img/tiger/TigerFace_Icon.png">
                    <img id="fsc" src="img/tiger/FSC-Logo.png">
                    <img id="um" src="img/Miami_Hurricanes_logo.svg.png">
                </div>

            
            <hr style="margin-top: 10%">
    </div>

        <div class="social-wrapper">
                <div class="social-buttons">
                    <a href="#" class="social-button facebook"><i class="fa fa-facebook"></i></a>
                    <a href="#" class="social-button twitter"><i class="fa fa-twitter"></i></a>
                    <a href="#" class="social-button google"><i class="fa fa-google"></i></a>
                    <a href="#" class="social-button linkedin"><i class="fa fa-linkedin"></i></a>
                    <a href="#" class="social-button skype"><i class="fa fa-skype"></i></a>
                </div>
        <hr style="margin-top: 10%; margin-bottom: 10%;">
        </div> <!-- /social-wrapper -->  

</div> <!--/container-->
    


       
            
            
            


    


 
<!-- end "main" div -->
        
<script type="text/javascript" src="scripts/javascript.js"></script>
<script src="scripts/imagesloaded.pkgd.min.js"></script>
<script src="scripts/masonry.pkgd.min.js"></script>
<script src="scripts/classie.js"></script>
<script src="scripts/cbpGridGallery.js"></script>
<script>
	new CBPGridGallery( document.getElementById( 'grid-gallery' ) );
</script>

</body>
</html>
